/*quiz page*/
h3{
    margin:20px;
}
.left{
    float: left;
}
.clear{
    clear: both;
}
.quiz{
    padding-left: 20px;
}
.marker{
    width: 50px;
    height: 50px;
    position: absolute;
    left: 0;
    top: 0;
    text-indent: 0;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    line-height: 50px;
}
.wrong:before{
    content: "✗";
    color: red;
}
.right:before{
    content: "✓";
    color: green;
}

/*keyboard*/
.white{
	background: #b2b2b2;
}
.black{
	background: #030303;
}
.non-selectable{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.note-name{
	color: white;
	line-height: 50px;
	text-align: center;
	text-transform: capitalize;
	font-size: 20px;
	font-family: serif;
	user-select: none;
}
.button{
	border-radius: 50%;
	cursor: pointer;
	width: 50px;
	height: 50px;
	margin-right: 10px;
	margin-bottom: 3px;
	margin-top: 0;
	margin-left: 0;
	padding-top: 0;

	display: inline-block;
	vertical-align: top;
	position: relative;
	top: 0;

	box-shadow: 3px 3px 5px #777;
}

.button:hover, .button.selected{
	border: 3px solid red;
	margin-bottom: 0;
	margin-right: 4px;
	left: -3px;
	top: -3px;
}

.row{
	border-top: 1px solid #555555; 
	height: 50px;
}
.row.even {
	padding-left: 25px;
}
.row:last-child {
	border-bottom: 1px solid #555555; 
}
.text-off-screen{
	text-indent: -99999px;
}
#keyboard{
	border-radius: 30px;
	background: #f2f2f2; 
	padding: 20px;
	height: auto;
	width: 900px;
}
